* {padding:0; margin:0;}

html {
    background:url(/img/tiles/wood.png) 0 0 repeat;
    padding: 0;
    margin : 0;
    font-size:14px;
}

table, th, td {
    border: 1px solid black;
}

table {
    width: 100%;
}

h1 {
    font-size: 1.3em;
    color: #FFF;
    margin: 10px;
}

h2 {
    font-size: 1.2em;
    color: #FFF;
    margin: 5px;
}

p, h3 { 
    margin-bottom:15px;
}

/*            div {
        padding:10px;
        width:100pc;
        background:#444;
    }
*/

.tk-site {
    background: #4F88A3;
    font-family: Kievit,arial,tahoma,verdana,sans-serif;
}

.tk-site-name span {
    font-weight: normal;
} 

.tk-site-name {
    color: #FFF;
    text-transform: uppercase;
    font-family: Kievit,arial,tahoma,verdana,sans-serif;
    font-size: 20px;
    font-weight: bold;
    background: #144962;
}

.tab-iframe {
    padding: 5px;
    margin 5px;
    border: 0;
    width: 100%;
    height: 1000px;
}

.tabs-menu li {
    list-style:none;
    display:inline;
}

.tabs-menu a {
    padding:5px 10px;
    display:inline-block;
    background:#666;
    color:#fff;
    text-decoration:none;
}

.tabs-menu a.active {
    background:#fff;
    color: #000;
}

.datalogger-mandatories {
    padding: 10px 1px 10px 1px;
    /*height: 50px;*/
}

.datalogger-mandatories li {
    list-style: none;
    display: inline;
    font-weight: bold;
}

.datalogger-mandatories select {
   margin: 1px;
   border: 1px solid #111;
   background: transparent;
   width: 150px;
   padding: 1px 5px 1px 1px;
   font-size: 12px;
   border: 1px solid #ccc;
   height: 24px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background: url(http://intranet.tirol-kliniken.cc/favicon.ico) 96% / 15% no-repeat #eee;
} 

.datalogger-mandatories input {
   margin: 1px;
   border: 1px solid #111;
   background: transparent;
   width: 150px;
   padding: 1px 5px 1px 1px;
   font-size: 12px;
   border: 1px solid #ccc;
   height: 24px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background: url(http://intranet.tirol-kliniken.cc/favicon.ico) 96% / 15% no-repeat #eee;
} 

.datalogger-mandatories table, .datalogger-mandatories td{
    color: #FFF;
    border: 0;
    font-weight: bold;
}

.datalogger-filters table, .datalogger-filters td{
    color: #FFF;
    border: 0;
    font-weight: normal;
}

.datalogger-status {
    font-family: courier;
    color: #0F0;
    background: #444;
}

.datalogger-project {
    /*background: url("/static/bcArrow_left.png") no-repeat top right;*/
    padding: 13px 12px 0px 12px;
    padding-left: 3px;
}

.datalogger-tablename {
    /*background: url("/static/bcArrow_left.png") no-repeat top right;*/
    padding: 13px 15px 0px 12px;
    padding-left: 3px;
}

.datalogger-datestring {
    /*background: url("/static/bcArrow_left.png") no-repeat top right;*/
    padding: 13px 12px 0px 12px;
    padding-left: 3px;
}

.datalogger-mandatories input {
    background: #4F88A3;
}

/* tsastats report table */
.datalogger-tsastats-table-header {
    background: #0088A3;
    font-weight: bold; 
    text-align: center;
    font-size: 16px;
    padding: 5px 1px 5px 1px;
}

.datalogger-tsastats-table-even-row {
    background: #4F88AF;
}

.datalogger-tsastats-table-uneven-row {
    background: #4F88A3;
}

.datalogger-tsastats-table-index-field {
    font-weight: bold; 
    font-size: 14px;
}

.datalogger-tsastats-table-value-field {
    text-align: right;
    font-size: 14px;
}

#stats {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

#stats td, #stats th {
    font-size: 1em;
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
}

#stats td {
    text-align: right;
}

#stats th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #ffffff;
}

#stats tr.alt td {
    color: #000000;
    background-color: #EAF2D3;
}
